*{
    margin: 0;
    padding: 0;
}
body{
     background-color: black;
     color: white;
     font-family: 'CircularSp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-weight: 700;
}
nav{
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    height: 8vh;
    padding: 4px;
    gap: 4px;
    color: #b3b3b3;
}
.nav-one{
   padding: 0 14px;
}
.home{
    height: 25px;
    width: 25px;
    padding: 4px;
    border: none;
}
.search-bar{
    width: 27vw;
    height: 7vh;
    border-radius: 37px;
    background-color: #1f1f1fd1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    margin: 14px 0;
}
.search-bar input ::placeholder{
    font-family: 'CircularSp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
    
}
.search-bar input{
    background-color: #1f1f1fd1;
    border: none;
}
.search-bar img{
   background-color: #1f1f1fd1;
   fill: #b3b3b3;
}
.browse{
    background-color: #1f1f1fd1;
}
.nav-three{
    align-items: center;
    gap: 14px;
}
.nav-three ul {
     gap: 14px;
}
.nav-three ul li{
     list-style: none;

}
.login{
    border: 1px solid black;
    height: 48px;
    width: 109px;
    border-radius: 23px;
    margin: 3px;
    color: black;
    font-weight: 700;
    font-size:medium
}
.sign-up{
    font-weight: bold;
    color: #b3b3b3;
    background-color: black;
    border: none;
}
.install{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   font-size: small;
}
.install img{
    height: 16px;
    width: 16px;
    border: none;
    
}
.line2 img{
    height: 20px;

}
main{
    height: 70vh;
    padding: 10px 12px;
    gap: 8px;
}
.left{
    background-color: #121212;
    width: 30vw;
    height: 70vh;
    border-radius: 8px;
    position: relative;
}
.lib-div{
    justify-content: space-between;
    padding:  10px 20px;
    padding-bottom: 40px;
    font-size: large;
    
}
.scrollbar{
    height: calc(100% - 280px);
    position: relative;
}
.scrollbar-container{
    padding-left: 6px;
    padding-right:8px ;
    padding-top: 12px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
.scrollbar-container::-webkit-scrollbar {
    width: 12px;
}
.scrollbar-container::-webkit-scrollbar-thumb {
    background: transparent;
}
.scrollbar-container:hover::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.522);
}
.scrollbar-container::-webkit-scrollbar-button {
    display: none;
}
.left-card{
    background-color: #1f1f1f;
    border-radius: 8px;
    height: 100px;
    width: 26vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 18px ;
    line-height: 22px;
    min-height: 100px;
}
.left-card p{
    font-size: small;
    font-weight: 300;
}
.left-card button{
    background-color: white;
    width: auto;
    height: 35px;
    border-radius: 16px;
    font-weight: bold;
    margin-top: 12px;
    border: none;
    padding: 8px;
}
.right{
    display: flex !important; 
    flex-direction: column !important;
    justify-content: flex-start;
    width: 70vw;
    border-radius: 8px;
    background-color: #121212;
    height: 70vh;
    overflow-y:auto;

}
.plus{
    height: 18px;
}
.foot-left{
    background-color: black;
    border-radius: 4px;
    height: 180px;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.foot-left-list div a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
    font-family: 'CircularSp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.foot-left-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 8px;
    row-gap: 4px;
}
.foot-left p{
    font-weight: 200;
    font-size: 14px;
    padding: 8px;
    font-family: 'CircularSp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn-lang img{
    height: 16px;
    width: 16px;
    border: none;
}
.btn-lang button{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    gap:4px;
    font-weight:bold ;
    padding: 8px;
    margin: 15px 5px;
}
footer{
    background-image: linear-gradient(to right, #af2896, #509bf5);
    width: 99%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    padding: 4px 2px;
    font-weight: lighter;

}
footer div{
    padding: 12px;
}
footer button{
    height: 44px;
    padding: 6px;
    margin: 30px;
    border-radius: 20px;
    border: none;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
}
.trending{
    padding:20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.card-container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card img{
    height: 140px;
    width: 140px;
    padding: 4px;
    border-radius: 12px;
}
.card{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    position: relative;
}
.track-title a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.track-title{
    padding:  3px 15px;
}
.track-artists a{
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    
}
.track-artists span{
    display: flex;
    justify-content: flex-start;
}
.image{
    position: relative;
    overflow: hidden;
}
.play-button{
    position:absolute;
    bottom: 12px;
    right: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.card:hover .play-button {
    opacity: 1;
}
.card:hover{
    background-color: #1f1f1f;
    border-radius: 7px;
}
.foot-right{
    background-color:  #121212;
    
    width: 65vw;
    margin :0px 5px;
    border-radius: 6px;
    display: block;
    padding: 25px 0px;
    font-size: small;
    
}
.foot-right-list{
    justify-content: space-evenly;
    align-items: flex-start;
    gap:35px;
}
.foot-right-list h3{
    font-size: larger;
}
.foot-right-list div ul{
    list-style: none;
    padding: 6px 0px;
    line-height: 24px;
}
.foot-right-list div ul li{
    color: #b3b3b3;
    font-weight: lighter;
}
.socials{
    display: flex;
    gap: 5px;
}
.foot-right p{
    padding: 20px;
}
